<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 아래에 적힌 DAO에 이 파일의 내용을 맵핑한다. -->
<mapper namespace="com.sharewith.smartudy.dao.BoardMapper">


<insert id="InsertQuestion" parameterType="java.util.HashMap">
	INSERT INTO QUESTION(userid,category,title,money,content,time,hashtag,subject,
				image1,image2,image3,image4,image5,image6,image7,audio1,audio2,audio3)
			VALUES (#{userid, jdbcType=INTEGER}, #{category, jdbcType=VARCHAR}, 
			#{title, jdbcType=VARCHAR},#{money, jdbcType=VARCHAR},
			#{content, jdbcType=VARCHAR}, now(), 
			#{hashtag, jdbcType=VARCHAR}, #{subject, jdbcType=VARCHAR},
			#{image1, jdbcType=VARCHAR},#{image2, jdbcType=VARCHAR},
			#{image3, jdbcType=VARCHAR},#{image4, jdbcType=VARCHAR},
			#{image5, jdbcType=VARCHAR},#{image6, jdbcType=VARCHAR},
			#{image7, jdbcType=VARCHAR},#{audio1,jdbcType=VARCHAR},
			#{audio2,jdbcType=VARCHAR},#{audio3,jdbcType=VARCHAR})
</insert> 

<insert id="InsertAnswer" parameterType="java.util.HashMap">
	INSERT INTO ANSWER(userid,category,title,money,content,time,hashtag,subject,grp,
				image1,image2,image3,image4,image5,image6,image7,audio1,audio2,audio3)
			VALUES (#{userid, jdbcType=INTEGER}, #{category, jdbcType=VARCHAR}, 
			#{title, jdbcType=VARCHAR},#{money, jdbcType=VARCHAR},
			#{content, jdbcType=VARCHAR}, now(), 
			#{hashtag, jdbcType=VARCHAR}, #{subject, jdbcType=VARCHAR},
			#{grp,jdbcType=INTEGER},
			#{image1, jdbcType=VARCHAR},#{image2, jdbcType=VARCHAR},
			#{image3, jdbcType=VARCHAR},#{image4, jdbcType=VARCHAR},
			#{image5, jdbcType=VARCHAR},#{image6, jdbcType=VARCHAR},
			#{image7, jdbcType=VARCHAR},#{audio1,jdbcType=VARCHAR},
			#{audio2,jdbcType=VARCHAR},#{audio3,jdbcType=VARCHAR})
</insert> 

<select id="getQuestions" resultType="com.sharewith.smartudy.dto.Question">
	SELECT id,title,content,hashtag,image1,money,time from question WHERE category = #{category} LIMIT #{page} , 5
</select>

<select id="getAnswers" resultType="com.sharewith.smartudy.dto.Answer">
	SELECT id,grp,title,content,hashtag,image1,money,time from answer WHERE  grp = #{grp}
</select>

<select id="getSelectedQuestion" resultType="com.sharewith.smartudy.dto.Question_Selected">
	SELECT id,title,content,hashtag,money,time from question WHERE id = #{id}
</select>

</mapper>